* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    margin-top: auto;
    background-image: url("/images/black.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
}

.socialIcons a i {
    color: black;
    opacity: 0.9;
    font-size: 1.6em;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a i:hover {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    text-shadow: 0 0 5px white;
    transition: 0.5s;
}

.footerBottom {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        margin: 10px;
        text-align: center;
    }
}