/*Css för hero*/

.hero-video {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#hero-video {
    max-height: 100vh;
    width: 100vw;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-size: 50px;
}

.hero-text p {
    font-size: 15px;
}

.hero-text a {
    background-color: #1a1a1a;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.darkend {
    max-height: 100vh;
    width: 100vw;
    filter: brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
}

.info-text {
    color: rgb(0, 0, 0);
    padding: 20px 40px;
    max-width: 800px;
    margin: 0 auto;
}

.infotext h1 {
    font-size: 50px;
    margin-top: 0;
}

.info-text p {
    text-align: left;
}

.page-links {
    display: flex;
    gap: 20px;
    padding: 0px 20px;
}

.page-card {
    flex: 1;
    text-decoration: none;
    color: black;
    text-align: center;
}

.page-card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    padding-bottom: 60px;
}

.page-card img:hover {
    filter: brightness(60%);
}

.page-card p {
    margin-top: 10px;
    font-size: 18px;
}
