.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: center;
    transition: transform 0.5s;
}

.store-section h1 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.store-section p {
    padding-bottom: 30px;
}

.list-products .item img {
    width: 90%;
    filter: drop-shadow(0 8px 20px black);
}

.list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.list-products .item {
    padding: 20px;
    border-radius: 20px;
    background-color: #eeeee6;
}

.list-products .item h2 {
    font-weight: 500;
    font-size: large;
}

.list-products .item .price {
    letter-spacing: 2px;
    font-size: small;
}

.list-products .item button {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #353432;
    color: #eee;
    font-family: inherit;
}

@media screen and (max-width: 768px) {
    .list-products {
        grid-template-columns: repeat(2, 1fr);
    }
}