.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform 0.5s;
}

.list-products .item img{
    width: 90%;
    filter: drop-shadow(0 8px 20px black)
}

.list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.list-products .item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.list-products .item h2 {
    font-weight: 500;
    font-size: large;
}

.list-products .item .price {
    letter-spacing: 2px;
    font-size: small;
}

.list-products .item button {
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

